.Menu {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 5rem !important;
    text-decoration: none;
}

.add-project {
    padding: 1rem 2.5rem;
    border: 1px solid #fff;
    border-radius: 3px;
}